* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* * selects every element */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #edeff0;
}
header {
    background-color: #fff;
}
header a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
}
header #logo {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
header nav li {
    display: inline-block;
}

header nav a{
    transition: background-color 0.4s;
}
header nav a:hover{
    background-color: rgba(0,0,0,.1);
}
/* header */

#intro{
    min-height: 350px;
    background-image: url(../img/garden.jpg);
    background-size: cover;
}
.intro-text{
    text-align: center;
    position: relative;
    top: 100px;
}
.intro-text h2{
    color: #fff;
    padding: 15px;
    background-color: rgba(0,0,0,.3);
}
.intro-text h3{
    color: #fff;
    background-color: rgba(0,0,0,.3);
    padding: 10px;
}
.intro-text .call-to-action a{
    background-color: #55C18F;
    color: #fff;
    padding: 15px;
    display: inline-block;
    margin: 20px 0px 50px;;
    text-decoration: none;
    transition: box-shadow 0.4s;
}
.intro-text .call-to-action a:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
}
/* intro */

#welcome{
    background-color: #55c18f;
    color: #fff;
    padding-bottom: 50px;
}
#welcome h2{
    padding: 15px;
    text-align: center;
}
#welcome p{
    padding: 10px;
}
.services-container, .works-container{
    max-width: 700px;
    margin: 10px auto;
}
.service{
    margin: 20px 10px;
    text-align: center;
}
.service-title{
    padding: 15px;
    border-bottom: 2px solid #fff;
    font-size: 1.4em;
}
.work{
    height: 250px;
    margin: 20px 10px;
    background-size: cover;
    position: relative;
}
.work.one{
    background-image: url(../img/s1.jpeg);
}   
.work.two{
    background-image: url(../img/s2.jpeg);
}   
.work.three{
    background-image: url(../img/s3.jpeg);
}  
.work.four{
    background-image: url(../img/s4.jpeg);
}
.work-title{
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0px;
    width: 100%;
}  
/* welcome */
#blog{
    text-align: center;
}
#blog h2{
    padding: 15px;
}
#blog .call-to-action{
    margin: 10px 0px 20px;
}
#blog .call-to-action a, .article-button a{
    background-color: #55C18F;
    color: #fff;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    transition: box-shadow 0.4s;
}
#blog .call-to-action a:hover{
    box-shadow: 2px 2px 15px rgba(0,0,0,.2);
}
.articles-container{
    max-width: 700px;
    margin: auto;;
}
.article{
    margin: 20px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0.2);
}
.article-date{
    padding: 15px;
    color: #fff;
    background-color: black;
}
.article-title{
    padding: 15px;
}
.article-text{
    padding: 0px 15px 10px;
}
.article-button{
    width: 50%;
    margin: auto;
}
.article-button a{
    margin: 20px auto;
}