* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* * selects every element */

body{
    font-family: 'Roboto', sans-serif;
    background-color: #edeff0;
}
header {
    background-color: #fff;
}
header a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: black;
}
header #logo {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
header nav li {
    display: inline-block;
}

header nav a{
    transition: background-color 0.4s;
}
header nav a:hover{
    background-color: rgba(0,0,0,.1);
}
